.app-card-container {
    @apply bg-white p-7 rounded-lg shadow-sm;
    .block-item {
        @apply block;
    }
    .w-fit-item {
        @apply w-fit;
    }
    .header {
        @apply flex justify-between;
    }
    .title {
        @apply font-bold text-sm text-gray-700 mr-5;
    }
    .body {}
}