.app-icon-button-container {
    .label {
        @apply border w-8 h-8 border-gray-50 rounded-lg flex items-center justify-center shadow-sm hover:shadow transition duration-75;
    }
    .icon {
        @apply text-gray-200;
    }
}